<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
</head>
<body bgcolor="#ffebcd">
<div align="center">
    <h1>美好的一天，从撸代码开始🤣！</h1>
</div>
<div>亲爱的：{{.username}}</div>
<a href="publish">发布</a>
<div align="right">
    <a href="login">登录</a>
    <a href="register">注册</a>
    <a href="home">返回</a>
</div>
<hr width="60000px" size="2px" color="red" align="left"/>
<h1>文章</h1>
<p>all:{{.date}}</p>
    <p>{{.Title}}</p>
    <div>{{.Content}}</div>
    <div align="right">
        <p>作者:{{.data.Author}}获赞{{.data.PointNum}}</p>
        <a href="/passage/point?title={{.title}}">点赞</a>
    </div>



</body>
</html>