<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publish</title>
</head>
<body>
<div align="center">
    <h1>亲爱的作者你好！</h1>
    <form action="/publish" method="post" novalidate autocomplete="off">
        <div>
            <label for="passage">文章内容:</label>
            <input type="text" name="passage" id="passage">
        </div>

        <div>
            <label for="author">作者:</label>
            <input type="text" name="author" id="author">
        </div>

        <div>
            <input type="submit" value="发布">

        </div>

    </form>
    <a href="home">返回</a>
</div>
</body>
</html>
