<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布评论</title>
</head>
<body>
<form action="leavemassage" method="post">
    <div>
        <label>留言对象:<input type="text" name="Host"></label>
    </div>
    <div>
        <label>留言内容:<input type="text" name="Content"></label>
    </div>
    <div>
        <label>留言者:<input type="test" name="Leaver"></label>
    </div>
    <div>
        <label>评论时间:<input type="datetime-local" name="PostTime"></label>
    </div>

    <div>
        <input type="submit" value="发布">
        <a href="home">返回</a>
    </div>
</form>

</body>
</html>
